/* GLOBAL STYLES */
body {
  background: #333;
  padding-top: 5em;
}

.css-typing {
  position: relative;
  width: 90%;
  font-family: monospace;
  font-size: 1.2em;
  margin: auto;
  text-align: left;
  color: white;
}
