/* GLOBAL STYLES */
body {
  background: #333;
  padding-top: 5em;
}

@keyframes typing {
    from { width: 100% }
    to { width: 0% }

}

.container {
  position: relative;
  font-family: monospace;
  font-size: 14px;
  width: fit-content;
  margin: auto;
  text-align: center;
  color: white;
}

.typing {
  /*position: absolute;*/
  top: 0;
  margin: 0;
  z-index: -1;
}

.hiders {
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
}

.hiders p {
  position: relative;
  clear: both;
  margin: 0;
  margin-top: 1px;
  float: right; /* makes animation go left-to-right */
  width:0; /* graceful degradation: if animation doesn't work, these are invisible by default */
  background: #333; /* same as page background */
  animation: typing 3s steps(50, end);
  animation-fill-mode: both;  /* load first keyframe on page load, leave on last frame at end */
}

.hiders p:nth-child(2) {
  animation-delay: 3s;
}
.hiders p:nth-child(3) {
  animation-delay: 6s;
}
.hiders p:nth-child(4) {
  animation-delay: 9s;
}
.hiders p:nth-child(5) {
  animation-delay: 12s;
}
.hiders p:nth-child(6) {
  animation-delay: 15s;
}
.hiders p:nth-child(7) {
  animation-delay: 18s;
}
.hiders p:nth-child(8) {
  animation-delay: 21s;
}
.hiders p:nth-child(9) {
  animation-delay: 24s;
}
.hiders p:nth-child(10) {
  animation-delay: 27s;
}
