/* GLOBAL STYLES */
body {
  background: #333;
}

.css-typing {
  margin-top : 7%;
  position: relative;
  width: 90%;
  font-family: monospace;
  font-size: 1.2em;
  margin: auto;
  text-align: left;
  color: white;
  padding-top: 50px;
}

.logo {
      width: 30%;
      position: absolute;
      top: 15px;
      left: 35%;
      z-index: 102;
}

@media (max-width: 979px)
#top-bar-wrap {
    padding-top: 25px;
}

#top-bar-wrap {
  position: fixed;
      top: 0;
      left: 0;
      height: 7%;
      width: 100vw;
      background-color: #fff;
      font-size: 12px;
      border-bottom: 1px solid #f1f1f1;
      z-index: 101;
}
