/* GLOBAL STYLES */
body {
  background: #333;
}

.css-typing {
  width: 90%;
      font-family: monospace;
      font-size: 1.2em;
      margin: 7vh auto auto auto;
      text-align: left;
      color: white;
      padding-top: 50px;
}

.logo {
      width: 30%;
      position: absolute;
      top: 15px;
      left: 35%;
      z-index: 102;
}

#top-bar-wrap {
  position: fixed;
      top: 0;
      left: 0;
      height: 7vh;
      width: 100vw;
      background-color: #fff;
      font-size: 12px;
      border-bottom: 1px solid #f1f1f1;
      z-index: 101;
}

.logo-borders {
    position: fixed;
    width: 200px;
    top: 72px;
    left: calc(50% - 100px);
}

@media (max-width: 979px) {
#top-bar-wrap {
      padding-top: 25px;
  }

.logo-borders {
  position: fixed;
      width: 180px;
      top: calc(7vh - 15px);
      left: calc(50% - 90px);
  }
}
