/* GLOBAL STYLES */
body {
  background: #333;
}

.css-typing {
  width: 90%;
  font-family: monospace;
  font-size: 1.2em;
  margin: 7vh auto auto auto;
  text-align: left;
  color: white;
  padding-top: 50px;
}

.message-fin {
  width: 90%;
  font-family: monospace;
  font-size: 1.2em;
  text-align: center;
  color: white;
  padding-top: 20px;
}

.logo {
      width: 30%;
      position: absolute;
      top: 15px;
      left: 35%;
      z-index: 102;
}

#top-bar-wrap {
  position: fixed;
      top: 0;
      left: 0;
      height: 7vh;
      width: 100vw;
      background-color: #fff;
      font-size: 12px;
      border-bottom: 1px solid #f1f1f1;
      z-index: 101;
}

.logo-borders {
    position: fixed;
    width: 48%;
    top: 7vh;
    left: 26%;
}

video {
    left: 5%;
    margin-top: 20px;
    width: 90%;
    position: relative;
}

#videoButton {
  width: 50%;
  left: 25%;
  position: relative;
  font-family: monospace;
  font-size: 1.2em;
  border: 1px white;
  border-radius: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
}
